<% include partials/header %> 

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fas fa-film"></i> MovieSSS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0"action="/results" method="GET">
                <input class="form-control mr-sm-2" type="text" name="searchquery" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>  
</nav>

<div class="container">
        <form class="form-group" action="/results" method="GET"> 
            <input type="text" class="form-control" name="searchquery" placeholder="Search Movie">
            <button type="submit" class="btn btn-primary"> <i class="fas fa-search"></i> Search</button>
        </form>
</div>

<div class="container">

    <% if(movies.Response == "False") { %>
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
          <div class="card-header">ERROR!!</div>
          <div class="card-body">
            <h4 class="card-title">SORRY!!</h4>
            <p class="card-text"><%= movies.Error %></p>
          </div>
        </div>
    <% } else { %>
        <div class="row">

           <% for (var i = 0; i < movies.Search.length; i++) { %>
                <% var imdbid = movies.Search[i].imdbID %> 

                <% if(movies.Search[i].Poster != "N/A") { %> 
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="thumbnail" >
                            <div class="block" style="text-align: center">
                                <a href="/moviedetails/<%= imdbid %>">
                                <img src="<%= movies.Search[i].Poster %>" alt="Image Not Available" onerror="this.onerror=null;this.src='Images/notfound.jpg';">
                                <div>
                                    <%= movies.Search[i].Title %></a>
                                    <span class="year">(<%= movies.Search[i].Year %>)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %> 

            <% } %>

        </div>    
    <% } %> 

</div>

<% include partials/footer %>